.brand-size{
    height: 40px;
}
.sign-in-button{
    border: none;
    background-color: #21B573;
    border-radius: 33px;
    padding: 12px 28px;
}
.background{
    background-image: url("Photos/Rectangle 21.png");
    height: 576px;
    
}
.bg-color{
    background-image: url("Photos/Rectangle 21.png");
    font-weight: 700;
}
#whole-nav{
    margin-top: 20px;
}
.navbar-nav{
    gap: 20px;
}
